.players-state{
    background-color: rgb(122, 245, 225);
    box-shadow: 5px 5px 10px rgb(190, 173, 173);
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    border: 8px solid rgb(0, 183, 255);
 
}

.players-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    

}
.team-container{
    display: grid;
    grid-template-columns: auto auto;
}

